/*---------------------------------------------------------
 Print (print-styles.css)
-------------------------------------------------------- */
* {
	background: transparent !important;
    color: #000000 !important;
	text-shadow: none !important;
	box-shadow: none !important;
	font-size: 12px !important;
}
*:before {
	content: "" !important;
	padding-right: 0 !important;
}
*:after {
	content: "" !important;
	padding-left: 0 !important;
}
button {
	border: 0 !important;
}
a {
	text-decoration: underline;
}
img {
	max-width: 100% !important;
}
h1,
h2,
h3,
h4 {
	font-size: 17px !important;
}
#respond,
#social,
.return-to {
	display: none !important;
}